@keyframes shake {
    0% { transform: translate(5px, 4px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@mixin miseEnPage-M3 {
    display: flex;
    flex-direction: column;
    word-spacing: $espaceMot;
}
@keyframes soulignementAnimée{
    0%{
        background-size: 0% 100%;
        background-position: bottom left;
    }
    100%{
        background-size: 100% 100%;
        background-position: bottom left;
    }
}
$green: rgb(87, 156, 135);
$yellow: rgb(253, 203, 70);
$espaceMot:4px;
html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(237, 239, 239);
    h2{
        text-align: center;
        margin-top: 5%;
    }
}
header{
    a{
        text-decoration:none ;
        }
}
.titrePrincipale{
    width: 100%;
    background-color: $green;
    text-align: center;
    height: 150px;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    h1{
        color: $yellow;
        margin-top: 0;
        padding-top: 20px;
    }
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-family: 'Kalam', cursive;
}

.titre_hautDePage{  
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 50px;
    font-size: 80px;
    background-image: linear-gradient(to right, rgb(0, 32, 217), rgb(8, 137, 251));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 1000px;
}
.titreH2{
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgb(0, 0, 0)4px, transparent 5px)no-repeat;
    background-size: 0% 100%;
    transition: background-size .3s;
    &:hover{
        background-size: 100% 100%;
        animation: soulignementAnimée both;
        animation-duration: 1s;
    }
}
.cnt-titreLiseret{
    display: flex;
    justify-content: center;
    font-size: 60px;
    h2{
        width: 500px;
        text-align: center;
        font-size: 50px;
    }
    img{
        width: 350px;
        height: 20px;
        margin-top: 7%;
    }
}
.cnt_commencer{ 
    @include miseEnPage-M3;
    .commencer{
        display: flex;
        .txt_commencer{
            width: 850px;
            padding-right: 50px;
        }
    }
}   

.cnt_continuer{ 
    @include miseEnPage-M3;
    .continuer{
        display: flex;
        .txt_continuer{
            width: 850px;
            padding-right: 50px;
        }
    }
}

.cnt_terminer{
    @include miseEnPage-M3;
    margin-bottom: 150px;
    .terminer{ 
    display: flex;
        .txt_terminer{
            width: 850px;
            padding-right: 50px;
        }
    }
}
footer{
    position: relative;
    .cnt_footer{ 
        font-family: 'Righteous', cursive;
        width: 100%;
        bottom: 0;
        background-color: $green;
        position: fixed;
        display: flex;
        justify-content: space-between;
        p{
            color: $yellow;
            font-size: 60px;
            margin: 30px;
            a{ 
                text-decoration: none;
                outline: none;
                color: $yellow;
            }
        }
    }
}
.contact, .mention{ 
    p{ 
    &:hover{
        animation-name: shake;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        }
    }
}
@media screen and (max-width: 1220px){
    .cnt-titreLiseret{ 
        img{
            display: none;
        }
    }
}
@media screen and(max-width: 1100px){
    body{
        margin: auto;
        section{
            margin-left: 5%;
            margin-right: 5%;
        }
    }
    .cnt_commencer{ 
        .commencer{
            .txt_commencer{
                max-width: 700px;
            }
        }
    }    
    .cnt_continuer{ 
        .continuer{
            .txt_continuer{
                max-width: 700px;
        }
    }
}
    .cnt_terminer{
        .terminer{
            .txt_terminer{
                max-width: 700px;
            }
        }
    }
.cnt-titreLiseret{
    img{
        display: none;
    }
}
    .titre_hautDePage{
        h1{
            font-size: 70px;
            width: 600px auto;
        }
    }
    footer{
        .cnt_footer{ 
            .mention, .contact{
                p{
                    font-size: 40px;
                    margin: 10px;
                }
            }
        }
    }
}
@media screen and (max-width:900px){
    footer{ 
        .contact, .mention{
            p{
                font-size: 40px;
                margin: 10px;
            }
        }
    }
}    
@media screen and (max-width: 870px){
    .titrePrincipale{
        height: 130px;
        h1{
            font-size: 70px;
        }
    }
    .titre_hautDePage{
        width: auto;
        font-size: 45px;
        margin-top: 20px;       
}
    .cnt-titreLiseret{
        h2{ 
        font-size: 50px;
        }
    }
    .cnt_commencer{
        .commencer{
            flex-direction: column;
            text-align: center;
            margin-bottom: 25px;
            .txt_commencer{
                width: auto;
                margin-bottom: -25px;
                padding-right: 0;
            }
        }
    }
    .cnt_continuer{
        .continuer{
            flex-direction: column;
            text-align: center;
            margin-bottom: 25px;
            .txt_continuer{
                width: auto;
                margin-bottom: -25px;
                padding-right: 0;
            }
        }
    }
    .cnt_terminer{
        .terminer{
            flex-direction: column;
            text-align: center;
            margin-bottom: 25px;
            .txt_terminer{
                width: auto;
                margin-bottom: -25px;
                padding-right: 0;
            }
        }
    }
    .titre_basDePage{
        h1{
            font-size: 40px;
        }
    }
    footer{
        .mention{
            p{
                font-size: 40px;
                margin: 10px;
            }
        }
        .contact{
            p{
                font-size: 40px;
                margin: 10px;
            }
        }
    }
}
@media screen and (max-width:660px){
    .cnt_footer{
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width:530px){
    header{ 
        .titrePrincipale{
            h1{
                font-size: 60px;
            }
        }
    }
    .titre_hautDePage{
        h1{
            font-size: 50px;
        }
    }
    section{
        margin: 1%;
        font-size: 30px;
    }
    .cnt-titreLiseret{
        width: 300px;
        h2{
            font-size: 40px;
        }
    }
    i{
        display: none;
    }
    .titre_basDePage{
         height: 300px;
        i{
            display: none;
            height: 200px;
        }
    }
    footer{ 
        .cnt_footer{ 
            .mention, .contact{
                p{
                    font-size: 30px;
                }
            }
        }
    }
}