@keyframes shake {
    0% { transform: translate(5px, 4px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@mixin miseEnPage-M3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-spacing: $espaceMot;
}
@keyframes soulignementAnimée{
    0%{
        background-size: 0% 100%;
        background-position: bottom left;
    }
    100%{
        background-size: 100% 100%;
        background-position: bottom left;
    }
}
$green: rgb(87, 156, 135);
$yellow: rgb(253, 203, 70);
$espaceMot:4px;
html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    h2{
        text-align: center;
        margin-top: 5%;
        color: black;
        font-weight: normal;
    }
}
header{
    a{
        text-decoration:none ;
        }
}
.titrePrincipale{
    font-family: 'Righteous', cursive;
    width: 100%;
    background-color: $green;
    text-align: center;
    height: 150px;
    font-size: 50px;
    h1{
        color: $yellow;
        margin-top: 0;
        padding-top: 20px;
    }
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kalam', cursive;
}
.titre_hautDePage{  
    font-family: 'Kaushan Script', cursive;
    background-image: linear-gradient(130deg, rgb(61, 146, 58), rgb(206, 254, 160));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 50px;
    font-size: 80px;
    width: 900px;
}
.titreH2{ 
    color: inherit;
    text-decoration: none;
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgb(0, 0, 0)4px, transparent 5px)no-repeat;
    background-size: 0% 100%;
    transition: background-size .2s;
    &:hover{
        background-size: 100% 100%;
        animation: soulignementAnimée both;
        animation-duration: 1s;
    }
}
.cnt-titreLiseret{
    display: flex;
    justify-content: center;
    h2{
        width: 500px;
        text-align: center;
        font-size: 60px;
        padding-left: 10px;
        padding-right: 10px;
    }
    img{
        height: 20px;
        margin-top: 7%;
        width: 400px;
    }
}
.lst2{
    transform: rotate(180deg);
}
.cnt_esquisse{ 
    @include miseEnPage-M3;
    .esquisse{
        display: flex;
        margin-bottom: 25px;
        .txt_esquisse{
            width: 1000px;
            margin-bottom: -25px;
        }
    }
}   

.cnt_oeuvre{ 
    @include miseEnPage-M3;
    .oeuvre{
        display: flex;
        margin-bottom: 25px;
        .txt_oeuvre{
            width: 1000px;
            margin-bottom: -25px;
        }
    }
}

.cnt_sommet{
    @include miseEnPage-M3;
    margin-bottom: 200px;
    .sommet{ 
    display: flex;
    margin-bottom: 25px;
        .txt_sommet{
            width: 1000px;
            margin-bottom: -25px;
        }
    }
}
footer{
    position: relative;
    .cnt_footer{ 
        width: 100%;
        bottom: 0;
        background-color: $green;
        position: fixed;
        display: flex;
        justify-content: space-between;
        font-family: 'Righteous', cursive;
        p{
            color: $yellow;
            font-size: 60px;
            margin: 30px;
            a{ 
                text-decoration: none;
                outline: none;
                color: $yellow;
            }
        }
    }
}
.contact, .mention{ 
    p{ 
    &:hover{
        animation-name: shake;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        }
    }
}
@media screen and (max-width: 1320px){
    .cnt-titreLiseret{ 
        img{
            display: none;
        }
    }
}
@media screen and(max-width: 1100px){
    body{
        margin: auto;
        section{
            margin-left: 5%;
            margin-right: 5%;
        }
    }
    .titre_hautDePage{
        width: 700px;
        h1{
            font-size: 80px;
        }
    }
    .cnt_esquisse{ 
        .esquisse{
            .txt_esquisse{
                max-width: 800px;
                padding-right: 50px;
            }
        }
    }    
    .cnt_oeuvre{ 
        .oeuvre{
            .txt_oeuvre{
                max-width: 800px;
                padding-right: 50px;
        }
    }
}
    .cnt_sommet{
        .sommet{
            .txt_sommet{
                max-width: 800px;
                padding-right: 50px;
            }
        }
    }
.cnt-titreLiseret{
    h2{
        width: auto;
    }
    img{
        display: none;
    }
}
footer{
    .mention, .contact{
        p{
            font-size: 40px;
            margin: 10px;
        }
    }
}
}
@media screen and (max-width: 950px){
    .cnt_esquisse{
        .esquisse{
            flex-direction: column;
            text-align: center;
            .txt_esquisse{
                width: auto;
                padding-right:0;
            }
        }
    }
    .cnt_oeuvre{
        .oeuvre{
            flex-direction: column;
            text-align: center;
            .txt_oeuvre{
                width: auto;
                padding-right:0;
            }
        }
    }
    .cnt_sommet{
        margin-bottom: 110px;
        .sommet{
            flex-direction: column;
            text-align: center;
            .txt_sommet{
                width: auto;
                padding-right:0;
            }
        }
    }
}

@media screen and (max-width: 850px){
    header{
    .titrePrincipale{
        height: 130px;
        h1{
            font-size: 70px;
        }
    }
}
    .titre_hautDePage{
        width: auto;
        margin-top: 20px;
        h1{
            font-size: 50px;
        }
}
    .cnt-titreLiseret{
        h2{ 
        font-size: 40px;
        }
    }
    .titre_basDePage{
        h1{
            font-size: 40px;
        }
    }
    .cnt_footer{
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width:530px){
    header{ 
        .titrePrincipale{
            h1{
                font-size: 60px;
            }
        }
    }
    section{
        margin: 1%;
        font-size: 20px;
    }
    .titre_hautDePage{ 
        h1{ 
        font-size: 40px;
        }
        i{
        display: none;
        }
    }
    .titreH2{
        font-size: 30px;
    }
    .titre_basDePage{
         height: 300px;
        i{
            display: none;
            height: 200px;
        }
    }
    footer{
        .cnt_footer{
            .contact, .mention{
                p{
                    font-size: 30px;
                }
            }
        }
    }
}