@mixin miseEnPage-M3 {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    word-spacing: $espaceMot;
}
@keyframes soulignementAnimée{
    from{
        background-size: 100% 100%;
        background-position: bottom right;
    }
    50%{
        background-size: 0 100%;
        background-position:bottom right;
    }
    51%{
        background-position: bottom left;
    }
    100%{
        background-size: 100% 100%;
        background-position: bottom left;
    }
}
$green: rgb(87, 156, 135);
$yellow: rgb(253, 203, 70);
$espaceMot:4px;
html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(237, 239, 239);
    h2{
        text-align: center;
        font-size: 40px;
        margin-top: 5%;
    }
}
header{
    width: 100%;
    background-color: $green;
    text-align: center;
    height: 150px;
    font-size: 50px;
    h1{
        color: $yellow;
        margin-top: 0;
        padding-top: 20px;
    }
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Dancing Script', cursive;
}

.titre_hautDePage{  
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    background-image: linear-gradient(130deg, rgb(2, 0, 146), rgb(0, 132, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
a{ 
    color: inherit;
    text-decoration: none;
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgb(0, 0, 0)4px, transparent 5px)no-repeat;
    background-size: 0% 100%;
    transition: background-size .3s;
    &:hover{
        background-size: 100% 100%;
        animation: soulignementAnimée both;
        animation-duration: 1s;
    }
}
.cnt-titreLiseret{
    display: flex;
    justify-content: center;
    h2{
        width: 150%;
        text-align: center;
        font-size: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    img{
        width:100%;
        height: 20px;
        margin-top: 7%;
    }
}
.cnt_commencer{ 
    @include miseEnPage-M3;
    .commencer{
        display: flex;
        .txt_commencer{
            width: 850px;
        }
    }
}   

.cnt_continuer{ 
    @include miseEnPage-M3;
    .continuer{
        display: flex;
        .txt_continuer{
            width: 850px;
        }
    }
}

.cnt_terminer{
    @include miseEnPage-M3;
    margin-bottom: 150px;
    .terminer{ 
    display: flex;
        .txt_terminer{
            width: 850px;
        }
    }
}
footer{
    position: relative;
    .cnt_footer{ 
        width: 100%;
        bottom: 0;
        background-color: $green;
        position: fixed;
        display: flex;
        justify-content: space-between;
        p{
            color: $yellow;
            font-size: 60px;
            margin: 30px;
            a{ 
                text-decoration: none;
                outline: none;
                color: $yellow;
            }
        }
    }
}

@media screen and(max-width: 1100px){
    body{
        margin: auto;
        section{
            margin-left: 5%;
            margin-right: 5%;
        }
    }
    .cnt_commencer{ 
        .commencer{
            .txt_commencer{
                max-width: 700px;
            }
        }
    }    
    .cnt_continuer{ 
        .continuer{
            .txt_continuer{
                max-width: 700px;
        }
    }
}
    .cnt_terminer{
        .terminer{
            .txt_terminer{
                max-width: 700px;
            }
        }
    }
.cnt-titreLiseret{
    img{
        display: none;
    }
}
}

@media screen and (max-width: 850px){
    header{
        height: 100px;
    .titrePrincipale{
        h1{
            font-size: 50px;
        }
    }
}
    .titre_hautDePage{
        margin-top: 20px;
}
    .cnt-titreLiseret{
        h2{ 
        font-size: 30px;
        }
    }
    .cnt_commencer{
        .commencer{
            flex-direction: column;
            text-align: center;
            .txt_commencer{
                width: auto;
            }
        }
    }
    .cnt_continuer{
        .continuer{
            flex-direction: column;
            text-align: center;
            .txt_continuer{
                width: auto;
            }
        }
    }
    .cnt_terminer{
        .terminer{
            flex-direction: column;
            text-align: center;
            .txt_terminer{
                width: auto;
            }
        }
    }
    .titre_hautDePage{
        h1{
            font-size: 40px;
        }
    }
    .titre_basDePage{
        h1{
            font-size: 40px;
        }
    }
    footer{
        .mention{
            p{
                font-size: 40px;
                margin: 10px;
            }
        }
        .contact{
            p{
                font-size: 40px;
                margin: 10px;
            }
        }
    }
}
@media screen and (max-width:530px){
    section{
        margin: 1%;
    }
    .titre_hautDePage
    i{
        display: none;
    }
    .titre_basDePage{
         height: 300px;
        i{
            display: none;
            height: 200px;
        }
    }
    .cnt_footer{
        flex-direction: column;
    }
}