@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
    50% {
      transform: scale3d(1.5, 1.5, 1.5);
      transform: scale3d(1.5, 1.5, 1.5);
      opacity: 0.5;
    }
    to {
      transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  } 
@keyframes dotty {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}
@mixin dimension-menu {
    border: none 0;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 50px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);     
    :hover{   
        animation-name: pulse;
        animation-duration: 2s;
    }  
}
$green: rgb(38, 117, 69);
$yellow: rgb(226, 226, 4);

html{ 
    body{
        display: block;
        margin: 0;
    }
}

.header{
    width: auto;
    background-color: $green;
    text-align: center;
    height: 150px;
    font-size: 50px;
    margin-bottom: 8%;
    h1{
        padding-top: 20px;
        margin-top: 8px;
        color: $yellow;
    }
}
section{
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    .container_menu{
        justify-content: space-around;
        display: flex;
        margin-bottom: 5%; 
    }
}
a{
    text-decoration: none;
    display: flex; 
    width: 600px;
    height: 900px; 
}
.menu_01{
    @include dimension-menu;
    background-color: #FFD2B8; 
    font-family: 'Acme', sans-serif;
    i{
        margin-top: 20%;
        font-size: 80px;
        background-image: linear-gradient(200deg, rgb(255, 166, 0), rgb(255, 2, 2));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p{
        margin-top: 0%;
    }
}
.menu_02{
    @include dimension-menu;
    background-color: rgb(255, 207, 225);
    p { 
    font-family: 'Dancing Script', cursive;
    background-image: linear-gradient(80deg, rgb(255, 166, 0), rgb(214, 1, 214));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    h2{
        color: rgb(255, 166, 0);
    }
}

.menu_03{
    @include dimension-menu;
    background-color: rgba(228, 228, 228, 0.795);
    p{ 
    font-family: 'Pinyon Script', cursive;
    background-image: linear-gradient(130deg, rgb(2, 0, 146), rgb(0, 132, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    h2{ 
    color: rgb(0, 132, 255);
    }
}

.menu_04{
    @include dimension-menu;
    font-family: 'Kalam', cursive;
    background-image: linear-gradient(130deg, rgb(0, 87, 4), rgb(0, 255, 34));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(0, 187, 0);
}

p{
    margin-top: 35%;
}

.prochainement {
    text-align: center;
    width: 40%;
    height: 100px;
    padding-top: 2.5%;
    justify-content: center;
    margin: auto;
    font-size: 60px;
    background-color: $green;
    color: $yellow;
    margin-bottom: 5%;
    border-radius: 30px;
    &:after {
        display: inline-block;
        animation: dotty steps(1,end) 1s infinite;
        content: '';
        }
}
.cnt_footer{
    display: flex;
    justify-content: space-between;
    background-color: $green;
    p{
        color: $yellow;
        font-size: 60px;
        margin: 30px;
    }
}

@media screen and(max-width:1400px ){

    .container_menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            margin-top: 5%;
        }
    }
}
@media screen and(max-width:770px){
    a{
        max-width: 300px;
        max-height: 600px;
    }
}