@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
    50% {
      transform: scale3d(1.5, 1.5, 1.5);
      transform: scale3d(1.5, 1.5, 1.5);
      opacity: 0.5;
    }
    to {
      transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  } 
@keyframes dotty {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}
@keyframes shake {
    0% { transform: translate(5px, 4px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@mixin dimension-menu {
    border: none 0;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 50px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);     
    :hover{   
        animation-name: pulse;
        animation-duration: 2s;
    }  
}
$green: rgb(87, 156, 135);
$yellow: rgb(253, 203, 70);

html{ 
    body{
        margin: 0;
    }
}

.header{
    width: 100%;
    background-color: $green;
    text-align: center;
    height: 150px;
    font-size: 50px;
    margin-bottom: 8%;
    h1{
        color: $yellow;
        margin-top: 0;
        padding-top: 20px;
    }
}
section{
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    .container_menu{
        justify-content: space-around;
        display: flex;
        margin-bottom: 5%; 
    }
}
.lien_menu{
    text-decoration: none;
    display: flex; 
    width: 600px;
    height: 900px; 
}
.menu_01{
    @include dimension-menu;
    background-color: rgb(252, 223, 219); 
    font-family: 'Acme', sans-serif;
    color: rgb(0, 0, 0);
    i{
        margin-top: 20%;
        font-size: 80px;
        background-image: linear-gradient(200deg, rgb(255, 166, 0), rgb(255, 2, 2));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p{
        margin-top: 0%;
    }
}
.menu_02{
    @include dimension-menu;
    background-color: rgb(255, 245, 254);
    p { 
    font-family: 'Dancing Script', cursive;
    background-image: linear-gradient(100deg, rgb(199, 116, 18), rgb(144, 91, 253));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    h2{
        color: rgb(199, 116, 18);
    }
}

.menu_03{
    @include dimension-menu;
    background-color: rgba(249, 249, 249);
    p{ 
    font-family: 'Pinyon Script', cursive;
    background-image: linear-gradient(130deg, rgb(2, 0, 146), rgb(0, 132, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    h2{ 
    color: rgb(0, 132, 255);
    }
}

.menu_04{
    @include dimension-menu;
    font-family: 'Kalam', cursive;
    background-image: linear-gradient(130deg, rgb(0, 87, 4), rgb(0, 255, 34));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(0, 187, 0);
}

p{
    margin-top: 35%;
}
.cnt-prochainement{
    height: 300px;
    .prochainement {
        text-align: center;
        width: 40%;
        height: 90px;
        padding-top: 2.5%;
        justify-content: center;
        margin: auto;
        font-size: 60px;
        background-color: $green;
        color: $yellow;
        border-radius: 30px;
        &:after {
            display: inline-block;
            animation: dotty steps(1,end) 1s infinite;
            content: '';
        }
    }
}
footer{
    position: relative;
    .cnt_footer{ 
        width: 100%;
        top: 1;
        bottom: 0;
        background-color: $green;
        position: fixed;
        display: flex;
        justify-content: space-between;
        p{
            color: $yellow;
            font-size: 60px;
            margin: 30px;
            a{ 
                text-decoration: none;
                outline: none;
                color: $yellow;
            }
        }
    }
}
.contact, .mention{ 
    p{ 
    &:hover{
        animation-name: shake;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        }
    }
}
@media screen and(max-width:1400px ){

    .container_menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            margin-top: 5%;
        }
    }
    body{
        height: auto;
    }
}
@media screen and (max-width:1100px){
    .cnt-prochainement{
        height: 400px;
        .prochainement{
            width: auto;
        }
    }
}
@media screen and(max-width:770px){
    a{
        max-width: 500px;
        max-height: 800px;
    }
    .cnt_footer{
        flex-direction: column;
    }
}
@media screen and (max-width: 580px){
    a{
        max-width: 300px;
        max-height: 500px;
    }
    .cnt-prochainement{
        .prochainement{
            font-size: 40px;
            height: 60px;
        }
    }
    footer{
        .mention{
            p{
                font-size: 50px;
            }
        }
        .contact{
            p{
                font-size: 50px;
            }
        }
    }
}
@media screen and (max-width:370px){
    .cnt-prochainement{
        height: 450px;
    }
}