@keyframes ellipsis {
    0%{ opacity: 0;}
    100%{ opacity: 1;}
}
@keyframes shake {
    0% { transform: translate(5px, 4px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@mixin dimension-menu {
    border: none 0;
    text-align: center;
    height: 900px;
    width: 600px;
    font-size: 40px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    .anime{
        margin-top: 50%;
    }  
}
@mixin dimension-menu770px {
    width: 500px;
        height: 700px;
        p, h2{
            font-size: 50px;
        }
}
@mixin dimension-menu580px {
    width: 300px;
    height: 500px;
    p, i, h2{
        font-size: 35px;
    }
}
$green: rgb(87, 156, 135);
$yellow: rgb(253, 203, 70);

html{ 
    body{
        margin: 0;
    }
}
.titrePrincipale{
    width: 100%;
    background-color: $green;
    text-align: center;
    height: 180px;
    font-size: 50px;
    font-family: 'Righteous', cursive;
    h1{
        color: $yellow;
        margin-top: 0;
        padding-top: 20px;
    }
}
.lienTitrePrincipale{
    text-decoration: none;
}
section{
    margin: auto;
    display: flex;
    flex-direction: column;
    .container_menu{
        justify-content: center;
        display: flex;
    }
}
/* début des propriétées pour MentionLégales.html*/
.txt_lorem{
    text-align: center;
    font-size: 30px;
    p{
        margin-top: 250px;
    }
}
/* fin des propriétées pour MentionLégales.html*/
.lien_menu{
    margin: 50px;
    text-decoration: none;
    display: flex; 
    transition: 0.8s;
    &:hover{   
        opacity: 0.5;
    }  
}
.anime{ 
    transition: 0.8s;
    &:hover{   
        transform: scale(1.2);
    }
}  
.menu_01{
    @include dimension-menu;
    background-color: rgb(252, 223, 219); 
    font-family: 'Acme', sans-serif;
    color: rgb(0, 0, 0);
    i{
        font-size: 80px;
        background-image: linear-gradient(to left, rgb(246, 145, 106), rgb(239, 70, 95));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p{
        margin-top: 0%;
        font-size: 60px;
    }
}
.menu_02{
    @include dimension-menu;
    background-color: rgb(255, 245, 254); 
    p { 
    font-family: 'Dancing Script', cursive;
    background-image: linear-gradient(100deg, rgb(199, 116, 18), rgb(144, 91, 253));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    }
    h2{
        color: rgb(199, 116, 18);
    }
}

.menu_03{
    @include dimension-menu;
    background-color: rgba(249, 249, 249);
    p{ 
    font-family: 'Pinyon Script', cursive;
    background-image: linear-gradient(130deg, rgb(2, 0, 146), rgb(0, 132, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    }
    h2{ 
    color: rgb(0, 132, 255);
    }
}

.menu_04{
    @include dimension-menu;
    font-family: 'Kalam', cursive;
    p{ 
        background-image: linear-gradient(130deg, rgb(54, 99, 21), rgb(191, 255, 126));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 60px;
    }  
    h2{
        color: rgb(114, 191, 86);
    }
}

p{
    margin-top: 35%;
}
.cnt-prochainement{
    font-family: 'Righteous', cursive;
    height: 300px;
    margin-top: 50px;
    .prochainement {
        text-align: center;
        width: 500px;
        height: 100px;
        padding-top: 8px;
        margin: auto;
        font-size: 60px;
        background-color: $green;
        color: $yellow;
        border-radius: 30px;
    }
}
.prochainement i {
    opacity: 0;
    animation: ellipsis 1.3s infinite;
    animation-delay: 0.0s;
}

.prochainement i+i {
    opacity: 0;
    animation: ellipsis 1.3s infinite;
    animation-delay: 0.2s;
}

.prochainement i+i+i {
    opacity: 0;
    animation: ellipsis 1.3s infinite;
    animation-delay: 0.3s;
}
footer{
    position: relative;
    .cnt_footer{
        font-family: 'Righteous', cursive; 
        width: 100%;
        top: 1;
        bottom: 0;
        background-color: $green;
        position: fixed;
        display: flex;
        justify-content: space-between;
        .mention, .contact{ 
            p{
                color: $yellow;
                font-size: 60px;
                margin: 30px;
                a{ 
                    text-decoration: none;
                    outline: none;
                    color: $yellow;
                }
            }
        }
    }
}
.contact, .mention{ 
    p{ 
    &:hover{
        animation-name: shake;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        }
    }
}
@media screen and(max-width:1400px ){

    .container_menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            margin-top: 5%;
        }
    }
    body{
        height: auto;
    }
}
@media screen and (max-width:1100px){
    .cnt-prochainement{
        height: 300px;
    }
    footer{
        .cnt_footer{ 
            .mention, .contact{
                p{
                    font-size: 40px;
                    margin: 10px;
                }
            }
        }
    }
}
@media screen and(max-width:770px){
/* début des propriétées pour MentionLégales.html*/
    .txt_lorem{
        p{ 
            margin-top: 150px;
        }
    }
/* fin des propriétées pour MentionLégales.html*/
    .titrePrincipale{
        height: 130px;
        h1{
            font-size: 80px;
        }
    }
    .menu_01{
        @include dimension-menu770px;
    }
    .menu_02{
        @include dimension-menu770px;
    }
    .menu_03{
        @include dimension-menu770px;
    }
    .menu_04{
        @include dimension-menu770px;
    }
    .cnt-prochainement{
        height: 350px;
    }
    .cnt_footer{
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width: 580px){
    .menu_01{
        @include dimension-menu580px
    }
    .menu_02{
        @include dimension-menu580px
    }
    .menu_03{
        @include dimension-menu580px
    }
    .menu_04{
        @include dimension-menu580px
    }
    .cnt-prochainement{
        .prochainement{
            font-size: 40px;
            height: 60px;
            width: 400px;
        }
    }
    .mention, .contact{ 
        p{
            font-size: 40px;
            margin: 10px;
        }    
    }  
}
@media screen and (max-width: 420px){
/* début des propriétées pour MentionLégales.html*/
    .txt_lorem{
        p{ 
            margin-top: 50px;
        }
    }
/* fin des propriétées pour MentionLégales.html*/
    .titrePrincipale{
        h1{
            font-size: 60px;
        }
    }
    .cnt-prochainement{ 
        height: 200px;
        .prochainement{
            width: 300px;
            font-size: 30px;
            height: 50px;
            }
    }
    footer{ 
        .cnt_footer{
            flex-direction: column;
            .mention, .contact{
                p{
                    font-size: 30px;
                }
            }
        }
    }
}
