@charset "UTF-8";
@keyframes shake {
  0% {
    transform: translate(5px, 4px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes soulignementAnimée {
  0% {
    background-size: 0% 100%;
    background-position: bottom left;
  }
  100% {
    background-size: 100% 100%;
    background-position: bottom left;
  }
}
html {
  padding: 0;
  margin: 0;
}
html body {
  color: #3d1319;
  background-color: #fcdfdb;
  padding: 0;
  margin: 0;
}

.lienTitrePrincipale {
  text-decoration: none;
}

.titrePrincipale {
  width: 100%;
  background-color: #579c87;
  text-align: center;
  height: 150px;
  font-size: 50px;
  font-family: "Righteous", cursive;
}
.titrePrincipale h1 {
  color: #fdcb46;
  margin-top: 0;
  padding-top: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Kalam", cursive;
}

.titre_hautDePage {
  flex-direction: column;
  margin-top: 50px;
  text-align: center;
  font-size: 80px;
  font-family: "Engagement", cursive;
  letter-spacing: 5px;
}
.titre_hautDePage i {
  margin-top: 10%;
  background-image: linear-gradient(to left, #f6916a, #ef465f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 200px;
}

.titreH2 {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, black 0%, black 4px, transparent 5px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s;
}
.titreH2:hover {
  background-size: 100% 100%;
  animation: soulignementAnimée both;
  animation-duration: 1s;
}

.cnt-titreLiseret {
  display: flex;
}
.cnt-titreLiseret h2 {
  text-align: center;
  font-size: 50px;
  width: 380px;
}
.cnt-titreLiseret img {
  height: 30px;
  margin-top: 6%;
}

.liseret2 {
  transform: rotate(180deg);
}

.cnt_prélude {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  word-spacing: 4px;
}
.cnt_prélude .prélude {
  display: flex;
}
.cnt_prélude .prélude .txt_prélude {
  width: 1000px;
}

.cnt_orgue {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  word-spacing: 4px;
}
.cnt_orgue .points_orgue {
  display: flex;
}
.cnt_orgue .points_orgue .txt_orgue {
  width: 1000px;
}

.Mouvement-final {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  word-spacing: 4px;
  width: 1050px;
}

.titre_basDePage {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 40px;
  height: 400px;
}
.titre_basDePage i {
  background-image: linear-gradient(to left, #f6916a, #ef465f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 160px;
  margin-right: 5%;
}

footer {
  position: relative;
}
footer .cnt_footer {
  font-family: "Righteous", cursive;
  width: 100%;
  top: 1;
  bottom: 0;
  background-color: #579c87;
  position: fixed;
  display: flex;
  justify-content: space-between;
}
footer .cnt_footer p {
  color: #fdcb46;
  font-size: 60px;
  margin: 30px;
}
footer .cnt_footer p a {
  text-decoration: none;
  outline: none;
  color: #fdcb46;
}

.contact p:hover, .mention p:hover {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 1100px) {
  body {
    margin: auto;
  }
  body section {
    margin-left: 5%;
    margin-right: 5%;
  }

  .cnt_prélude .prélude {
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
  }
  .cnt_prélude .prélude .txt_prélude {
    width: auto;
    margin-bottom: -25px;
  }

  .cnt_orgue .points_orgue {
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
  }
  .cnt_orgue .points_orgue .txt_orgue {
    width: auto;
    margin-bottom: -25px;
  }

  .Mouvement-final {
    text-align: center;
    width: auto;
  }
  .Mouvement-final p {
    margin-bottom: 80px;
  }

  .cnt-titreLiseret img {
    display: none;
  }

  footer .mention p {
    font-size: 40px;
    margin: 10px;
  }
  footer .contact p {
    font-size: 40px;
    margin: 10px;
  }
}
@media screen and (max-width: 885px) {
  .titrePrincipale {
    height: 130px;
  }
  .titrePrincipale h1 {
    font-size: 70px;
  }

  .cnt-titreLiseret h2 {
    font-size: 40px;
  }

  .titre_hautDePage h1 {
    font-size: 70px;
  }

  .titre_basDePage h1 {
    font-size: 50px;
  }

  footer .mention, footer .contact {
    margin: 10px;
  }
}
@media screen and (max-width: 700px) {
  .cnt_footer {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 530px) {
  .titrePrincipale h1 {
    font-size: 60px;
  }

  .titre_hautDePage {
    margin-top: 0;
  }
  .titre_hautDePage i {
    display: none;
  }

  section {
    margin: 1%;
  }

  .cnt-titreLiseret {
    width: 300px;
  }
  .cnt-titreLiseret h2 {
    font-size: 35px;
  }

  .titre_basDePage {
    height: 350px;
    text-align: center;
  }
  .titre_basDePage h1 {
    font-size: 40px;
  }
  .titre_basDePage i {
    display: none;
    height: 200px;
  }

  .cnt_footer {
    flex-direction: column;
  }
  .cnt_footer .mention p, .cnt_footer .contact p {
    font-size: 30px;
  }
}

/*# sourceMappingURL=menu_01.css.map */
