@charset "UTF-8";
@keyframes soulignementAnimée {
  from {
    background-size: 100% 100%;
    background-position: bottom right;
  }
  50% {
    background-size: 0 100%;
    background-position: bottom right;
  }
  51% {
    background-position: bottom left;
  }
  100% {
    background-size: 100% 100%;
    background-position: bottom left;
  }
}
html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff5fe;
}
body h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 5%;
}

.titrePrincipale {
  width: 100%;
  background-color: #579c87;
  text-align: center;
  height: 150px;
  font-size: 50px;
}
.titrePrincipale h1 {
  color: #fdcb46;
  margin-top: 0;
  padding-top: 20px;
}

.titre_hautDePage {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
}
.titre_hautDePage h1 {
  background-image: linear-gradient(80deg, #ffa600, #d601d6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Dancing Script", cursive;
}

a {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, white 0%, #ffa5e4 4px, transparent 5px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s;
}
a:hover {
  background-size: 100% 100%;
  animation: soulignementAnimée both;
  animation-duration: 1s;
}

.titre-apt1 {
  color: #ffa600;
}

.cnt-titreLiseret {
  display: flex;
  justify-content: center;
}
.cnt-titreLiseret h2 {
  width: 300px;
  text-align: center;
  font-size: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.cnt-titreLiseret img {
  width: 380px;
  height: 20px;
  margin-top: 7%;
}

.lst2 {
  transform: rotate(180deg);
}

.cnt_apétit {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  word-spacing: 4px;
  color: #ffa600;
}
.cnt_apétit .apétit {
  display: flex;
}
.cnt_apétit .apétit .txt_apétit {
  width: 850px;
}

.titre-apt2 {
  color: #d601d6;
}

.cnt_papilles {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  word-spacing: 4px;
  color: #d601d6;
}
.cnt_papilles .points_papilles {
  display: flex;
}
.cnt_papilles .points_papilles .txt_papilles {
  width: 850px;
}

.titre-apt3 {
  color: #673dff;
}

.Gourmandises {
  color: #673dff;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  word-spacing: 4px;
  width: 900px;
}

footer {
  position: relative;
}
footer .cnt_footer {
  width: 100%;
  top: 1;
  bottom: 0;
  background-color: #579c87;
  position: fixed;
  display: flex;
  justify-content: space-between;
}
footer .cnt_footer p {
  color: #fdcb46;
  font-size: 60px;
  margin: 30px;
}
footer .cnt_footer p a {
  text-decoration: none;
  outline: none;
  color: #fdcb46;
}

@media screen and (max-width: 1100px) {
  body {
    margin: auto;
  }
  body section {
    margin-left: 5%;
    margin-right: 5%;
  }

  .cnt_apétit .apétit .txt_apétit {
    max-width: 700px;
  }

  .cnt_papilles .points_papilles .txt_papilles {
    max-width: 700px;
  }

  .Gourmandises {
    text-align: center;
    width: auto;
  }

  .cnt-titreLiseret img {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .titrePrincipale {
    height: 100px;
  }
  .titrePrincipale h1 {
    font-size: 50px;
  }

  .titre_hautDePage h1 {
    font-size: 70px;
  }

  .cnt-titreLiseret h2 {
    font-size: 40px;
  }

  .cnt_apétit .apétit {
    flex-direction: column;
    text-align: center;
  }
  .cnt_apétit .apétit .txt_apétit {
    width: auto;
  }

  .cnt_papilles .points_papilles {
    flex-direction: column;
    text-align: center;
  }
  .cnt_papilles .points_papilles .txt_papilles {
    width: auto;
  }

  .titre_hautDePage h1 {
    font-size: 40px;
  }

  footer .mention p {
    font-size: 40px;
    margin: 10px;
  }
  footer .contact p {
    font-size: 40px;
    margin: 10px;
  }
}
@media screen and (max-width: 530px) {
  section {
    margin: 1%;
    margin-bottom: 150px;
  }

  .titre_hautDePage i {
    display: none;
  }

  .cnt_footer {
    flex-direction: column;
  }
}

/*# sourceMappingURL=menu_02.css.map */
