@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  50% {
    transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
    opacity: 0.5;
  }
  to {
    transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
html body {
  display: block;
  margin: 0;
}

.header {
  width: auto;
  background-color: #267545;
  text-align: center;
  height: 150px;
  font-size: 50px;
  margin-bottom: 8%;
}
.header h1 {
  padding-top: 20px;
  margin-top: 8px;
  color: #e2e204;
}

section {
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
}
section .container_menu {
  justify-content: space-around;
  display: flex;
  margin-bottom: 5%;
}

a {
  text-decoration: none;
  display: flex;
  width: 600px;
  height: 900px;
}

.menu_01 {
  border: none 0;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 50px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #FFD2B8;
  font-family: "Acme", sans-serif;
}
.menu_01 :hover {
  animation-name: pulse;
  animation-duration: 2s;
}
.menu_01 i {
  margin-top: 20%;
  font-size: 80px;
  background-image: linear-gradient(200deg, #ffa600, #ff0202);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_01 p {
  margin-top: 0%;
}

.menu_02 {
  border: none 0;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 50px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffcfe1;
}
.menu_02 :hover {
  animation-name: pulse;
  animation-duration: 2s;
}
.menu_02 p {
  font-family: "Dancing Script", cursive;
  background-image: linear-gradient(80deg, #ffa600, #d601d6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_02 h2 {
  color: #ffa600;
}

.menu_03 {
  border: none 0;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 50px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(228, 228, 228, 0.795);
}
.menu_03 :hover {
  animation-name: pulse;
  animation-duration: 2s;
}
.menu_03 p {
  font-family: "Pinyon Script", cursive;
  background-image: linear-gradient(130deg, #020092, #0084ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_03 h2 {
  color: #0084ff;
}

.menu_04 {
  border: none 0;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 50px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Kalam", cursive;
  background-image: linear-gradient(130deg, #005704, #00ff22);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #00bb00;
}
.menu_04 :hover {
  animation-name: pulse;
  animation-duration: 2s;
}

p {
  margin-top: 35%;
}

.prochainement {
  text-align: center;
  background-color: #267545;
  width: 30%;
  margin: auto;
}
.prochainement p {
  color: #e2e204;
  text-align: center;
  height: 100px;
  border: solid #267545 2px;
  border-radius: 30px;
  padding-top: 30px;
  font-size: 60px;
}

.cnt_footer {
  display: flex;
  justify-content: space-between;
  background-color: #267545;
}
.cnt_footer p {
  color: #e2e204;
  font-size: 60px;
  margin: 30px;
}

@media screen and (max-width: 1400px) {
  .container_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container_menu a {
    margin-top: 5%;
  }
}
@media screen and (max-width: 770px) {
  a {
    max-width: 300px;
    max-height: 600px;
  }
}

/*# sourceMappingURL=style.css.map */
